In [ ]:
import pandas as pd
from glob import glob

dir_fp  = "/playpen/mufan/levi/tianlong-chen-lab/nws-lv-precip-forecasting/ccrfcd-gauge-grids/data/7-23-25-scrape"
csv_fps = glob(f"{dir_fp}/*.csv")

In [ ]:
datetimes = []
gauge_ids = []
values    = []
deltas    = []

for fp in csv_fps:

    gauge_id = int(fp.split("_")[-1].strip(".csv"))
    df       = pd.read_csv(fp)
    
    _dates   = list(df["Date"])
    _times   = list(df["Time"])
    _values  = list(df["Value"])

    # compute change in 
    _deltas  = []
    for i, val in enumerate(_values): 

        if i >= len(_values) - 1: break
        curr_val = val
        prev_val = _values[i + 1]
        delta    = curr_val - prev_val

        # handle gauge resets; negative values
        delta    = max(delta, 0.0)
        _deltas.append(delta)

    _deltas     = _deltas + [0.0]
    df['delta'] = _deltas

    _datetimes = []
    

df

3239

            Date      Time  Value
0     07/23/2025  13:00:00   0.63
1     07/23/2025  12:00:00   0.63
2     07/23/2025  11:00:00   0.63
3     07/23/2025  10:00:00   0.63
4     07/23/2025  09:00:00   0.63
...          ...       ...    ...
4996  12/11/2024  07:00:00   0.00
4997  12/11/2024  06:00:00   0.00
4998  12/11/2024  05:00:00   0.00
4999  12/11/2024  04:00:00   0.00
5000  12/11/2024  03:00:00   0.00

[5001 rows x 3 columns]

In [4]:
import json


fp   = "/playpen/mufan/levi/tianlong-chen-lab/nws-lv-precip-forecasting/ccrfcd-gauge-grids/data/events/ccrfcd_flood_events.json"
with open(fp, 'r') as f:
    data = json.load(f)

In [13]:
from datetime import datetime

cutoff = datetime(year=2010, month=1, day=1)

valid_events = 0
for event in data['radar']:
    date = event['date']
    dt   = datetime.strptime(date, "%m/%d/%Y")
    if dt > cutoff: valid_events += 1

print(valid_events)

81

In [14]:
import pandas as pd


fp = "/playpen/mufan/levi/tianlong-chen-lab/nws-lv-precip-forecasting/ccrfcd-gauge-grids/data/events/lsr_201001010000_202507250000.csv"
df = pd.read_csv(fp)
df.head()

,VALID,VALID2,LAT,LON,MAG,WFO,TYPECODE,TYPETEXT,CITY,COUNTY,STATE,SOURCE,REMARK,UGC,UGCNAME,QUALIFIER
0,201001182138,2010/01/18 21:38,36.26,-115.65,4.00,VEF,S,SNOW,2 SW MT. CHARLESTON,CLARK,NV,CO-OP OBSERVER,THE MOUNT CHARLESTON CO-OP IN KYLE CANYON REPO...,NVC003,Clark,M
1,201001190425,2010/01/19 04:25,36.28,-115.62,10.00,VEF,S,HEAVY SNOW,MT. CHARLESTON,CLARK,NV,PARK/FOREST SRVC,TEN INCHES OF NEW SNOWFALL SINCE THIS MORNING ...,NVC003,Clark,M
2,201001200115,2010/01/20 01:15,36.03,-115.07,0.70,VEF,R,HEAVY RAIN,5 SSW EAST LAS VEGAS,CLARK,NV,NWS EMPLOYEE,SEVERAL INCHES OF WATER WERE REPORTED AT THE I...,NVC003,Clark,E
3,201001200125,2010/01/20 01:25,35.30,-114.88,1.15,VEF,R,HEAVY RAIN,1 SSE CAL NEV ARI,CLARK,NV,TRAINED SPOTTER,SEVERAL INCHES OF WATER WERE COVERING ROADS IN...,NVC003,Clark,M
4,201001200200,2010/01/20 02:00,37.62,-118.03,1.00,VEF,S,SNOW,DYER,ESMERALDA,NV,CO-OP OBSERVER,1.0 INCH OF SNOW WAS MEASURED AT DYER AT AN EL...,NVC009,Esmeralda,E

In [ ]:
mask      = (df['TYPETEXT'] == 'FLASH FLOOD') | (df['TYPETEXT'] == 'FLOOD') | (df['TYPETEXT'] == 'HEAVY RAIN') | (df['TYPETEXT'] == 'HEAVY SNOW')
df_events = df[mask]

value_counts = df['column_name'].value_counts()

# Display the counts
print(value_counts)